/*==== Footer Block ====*/

.footer {
  background-color: #0A2850;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 60px 80px 60px 80px;
  overflow: hidden;
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__circle {
  width: 340px;
  height: 340px;
  position: absolute;
  top: -128px;
  left: -44px;
  background: #2F80ED;
  border-radius: 50%;
  z-index: 0;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
}
.footer__social-heading {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
}

.footer__social-link:hover, .footer__social-link:focus {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 108px 0 0;
  align-self: flex-start;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  z-index: 1;
}