/*==== Header Block ====*/

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__title {
  max-width: 709px;
  position: absolute;
  top: 183px;
  left: 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  position: absolute;
  top: 355px;
  left: 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 80px;
}
.header__footer div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__paragraph {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 500;
  color: #838383;
}