/*==== Navigation Block ====*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
}
.nav__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav__link:hover {
  color: #2F80ED;
}
.nav__link:active {
  color: #1C60B3;
}