/*==== Recipes Block ====*/

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 80px 215px 80px;
  color: #fff;
}
.recipes__title {
  max-width: 580px;
  align-self: flex-start;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  align-self: flex-start;
  margin: 24px 0 0 0;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
.recipes__videos {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.recipes__video-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__video-caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}