@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  /* font-family: 'Inter', 'Arial', sans-serif; */
  /* font-family: 'Noto Serif', 'Times New Roman', serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}