body {
  /* font-family: 'Inter', 'Arial', sans-serif; */
  /* font-family: 'Noto Serif', 'Times New Roman', serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: 'Inter', 'Arial', sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}