.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
}
.nav__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.nav__link:hover {
  color: #a0522d;
}
.header__title {
  max-width: 709px;
  position: absolute;
  top: 183px;
  left: 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  position: absolute;
  top: 355px;
  left: 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 80px;
}
.header__footer div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__paragraph {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 500;
  color: #838383;
}
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 80px 215px 80px;
  color: #fff;
}
.recipes__title {
  max-width: 580px;
  align-self: flex-start;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  align-self: flex-start;
  margin: 24px 0 0 0;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
.recipes__videos {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.recipes__video-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__video-caption {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 0 0 0;
}
.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px 0;
}
.reservation__form {
  margin-bottom: 120px;
}
.form__fieldset {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  border: #838383 solid 1px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
  box-sizing: border-box;
}
.form__input::placeholder {
  color: #838383;
}
.form__button {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
.form__button:hover:enabled {
  background-color: #1c5edb;
  opacity: 0.7;
  transition: 0.5s;
}
.form__label_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: transparent;
  border: #838383 solid 1px;
  cursor: pointer;
}
.form__checkbox:checked {
  background: #2F80ED;
}
.form__checkbox:checked::after {
  background: #2F80ED;
  content: url(../images/check.svg);
  color: #fff;
}